<form [formGroup]="authForm" (ngSubmit)="sendCredentials()">
  <div class="input-container">
    <label>
      Email:
      <input type="text" formControlName="email" class="input-field" />
    </label>
  </div>
  <div class="input-container">
    <label>
      Password:
      <input type="password" formControlName="password" class="input-field" />
    </label>
  </div>
  <div>
    <button [disabled]="!authForm.valid" class="button submit-button">
      {{ labelText }}
    </button>
  </div>
</form>
