.header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 0.1);
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-list {
  display: flex;
}

.menu-item {
  padding: 0.5rem;
}

.menu-link {
  text-decoration: none;
  color: rgba(51, 65, 85, 0.8);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.menu-link:hover {
  color: rgb(51, 65, 85);
}

.main {
  padding: 1rem;
}
