<header class="header">
  <nav>
    <ul class="menu-list">
      <li class="menu-item">
        <a [routerLink]="'/home'" class="menu-link">Home</a>
      </li>
      <li class="menu-item" class="menu-item">
        <a [routerLink]="'/offensive-word'" class="menu-link"
          >Offensive Words</a
        >
      </li>
      <li *ngIf="authState$ | async as state" class="menu-item">
        <a
          *ngIf="!state.token; else logout_button"
          [routerLink]="'/auth/login'"
          class="menu-link"
          >{{ "Log in" }}</a
        >
        <ng-template #logout_button>
          <button (click)="handleLogout()" class="menu-link">Log out</button>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
