.container {
  display: flex;
  flex-direction: column;
}

h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to bottom right,
    rgb(148 163 184) 0%,
    rgb(51 65 85) 50%
  );
  display: block;
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem 0;
  text-align: center;
}

a {
  color: rgb(51 65 85);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in;
}
a:hover {
  color: rgb(148 163 184);
}

.react-tag {
  color: #0ea5e9;
}

.vue-tag {
  color: #0d9488;
}
