<div class="container">
  <h2>Welcome to Offensive Words Manager</h2>
  <a href="https://local-apps.kairosds.com/posts-manager/">
    Go to Posts Manager <span class="react-tag">(React 18)</span>
  </a>
  <a href="https://local-apps.kairosds.com/blog-public/">
    Go to public Blog <span class="vue-tag">(Vue 3)</span>
  </a>
</div>
