.table {
  margin: 0 auto;
  border: 1px solid rgb(148 163 184);
  table-layout: auto;
  color: rgb(51 65 85);
}

.table-title {
  padding: 1rem;
}

td,
th {
  padding: 1rem;
  border: 1px solid rgb(148 163 184);
}

th {
  font-weight: 700;
}
