<p>
  <button (click)="openCreateModal()" class="button">New Word</button>
</p>
<table *ngIf="listOfOffensiveWords$ | async as offensiveWords" class="table">
  <caption class="table-title">
    List of offensive words
  </caption>
  <thead>
    <tr class="table-row">
      <th>Word</th>
      <th>Level</th>
      <th>ID</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tr *ngFor="let word of offensiveWords" class="table-row">
    <td>{{ word.word }}</td>
    <td>{{ word.level }}</td>
    <td>{{ word.id }}</td>
    <td>
      <button (click)="openUpdateModal(word)" class="button">Edit</button>
    </td>
    <td>
      <button (click)="openDeleteModal(word)" class="button">Delete</button>
    </td>
  </tr>
</table>

<dialog #createModal>
  <app-offensive-word-form
    (sendWord)="onCreate($event)"
    (closeForm)="hideCreateModal()"
  ></app-offensive-word-form>
</dialog>
<dialog #editModal>
  <app-offensive-word-form
    [ow]="currentWord"
    (sendWord)="onUpdate($event)"
    (closeForm)="hideUpdateModal()"
  ></app-offensive-word-form>
</dialog>
<dialog #deleteModal>
  <app-offensive-word-confirm-form
    [ow]="currentWord"
    (submitData)="onDelete($event)"
    (cancelForm)="hideDeleteModal()"
  ></app-offensive-word-confirm-form>
</dialog>
