<form *ngIf="ow" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="input-container">
    <input type="hidden" formControlName="id" />
    <p>
      Are you sure you want to delete
      <strong>{{ ow.word }}</strong
      >?
    </p>
  </div>
  <button type="submit" class="button">Confirmar</button>
  <button type="button" (click)="onCancel()" class="button cancel-button">
    Cancelar
  </button>
</form>
