.input-container {
  margin: 1rem 0;
}

.input-field {
  border-radius: 0.25rem;
  border-color: rgb(15 23 42);
  border-width: 1px;
  outline: none;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
.input-field:focus {
  background-color: rgba(51, 65, 85, 0.1);
}

.error {
  font-size: 0.8rem;
  color: rgb(250, 57, 86);
}
