<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4>Word</h4>
  <input type="hidden" formControlName="id" />
  <div class="input-container">
    <label>
      Word:
      <input type="text" formControlName="word" class="input-field" />
    </label>
    <div *ngIf="word?.invalid && word?.dirty" class="error">
      Word is required and needs to be 2 characters minimum.
    </div>
  </div>
  <h4>Level</h4>
  <div class="input-container">
    <label>
      Level 1
      <input type="radio" formControlName="level" value="1" />
    </label>
    <label>
      Level 2
      <input type="radio" formControlName="level" value="2" />
    </label>
    <label>
      Level 3
      <input type="radio" formControlName="level" value="3" />
    </label>
    <label>
      Level 4
      <input type="radio" formControlName="level" value="4" />
    </label>
    <label>
      Level 5
      <input type="radio" formControlName="level" value="5" />
    </label>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="this.form.status !== 'VALID'"
      class="button"
    >
      Save
    </button>
    <button type="button" (click)="onCancel()" class="button cancel-button">
      Cancel
    </button>
  </div>
</form>
