.notification-container {
  position: absolute;
  z-index: 1;
  width: 15%;
  right: 15%;
  margin: auto;
}
.message-box {
  font-size: 0.75rem;
  line-height: 1.15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.header {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.2rem;
}
.success {
  background-color: rgb(146, 255, 146);
}
.warning {
  background-color: rgb(255, 195, 83);
}
.info {
  background-color: rgb(81, 198, 252);
}
.error {
  background-color: rgb(255, 82, 82);
}
